<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Cart</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheet/cart.css">
</head>
<body>
    <div class="container">
        <h1>Shopping Cart</h1>
        
        <div class="cart-container">
            <div class="cart-items">
                
                <% user.cart.forEach(function(item) { %>
                    <div class="cart-item">
                        <img src="/public/images/<%= item.productCategory %>/<%= item.productImage %>" alt="Backpack">
                        <div class="item-details">
                            <h3><%= item.productName %></h3>
                            <p>Rs<%= item.productPrice %></p>
                            <div class="quantity-controls">
                                <button class="js-decrease" data-id="<%= item._id %>">-</button>
                                <input type="number" class="Quantity" data-id="<%= item._id %>"  min="1">
                                <button class="js-increase" data-id="<%= item._id %>">+</button>
                            </div>
                            
                            
                        </div>
                        <a href="/cart/remove/<%= item._id %>" class="remove-btn">×</a>

                    </div>
                <% }); %>
                

            </div>
            
            <div class="cart-summary">
                <h2>Cart Summary</h2>
                <div class="summary-item">
                    <span>Subtotal:</span>
                    <span>Rs <%= subtotal %></span>
                </div>
                <div class="summary-item">
                    <span>Platform Fee:</span>
                    <span>Rs 100</span>
                </div>
                <div class="summary-item total">
                    <span>Total:</span>
                    <span>Rs <%= totalPrice %></span>
                </div>
                <a href="/checkout"  class="checkout-btn">Proceed to Checkout</a>
            </div>
        </div>
    </div>
    <script src="/script/cart.js"></script>
</body>

</html> 