<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Search Results Page</title>
  <link rel="stylesheet" href="/stylesheet/searchPage.css">
  <link rel="stylesheet" href="/stylesheet/partial.css">
  <link rel="shortcut icon" href="images/Favicon/shopease.png" type="image/x-icon"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"/>
</head>
<body>
  <%- include('header') %>

  <main>
    <section class="product-results">
      <div class="sort-options">
        <label for="sort">Sort By:</label>
        <select id="sort">
          <option value="relevance">Relevance</option>
          <option value="price-low-to-high">Price: Low to High</option>
          <option value="price-high-to-low">Price: High to Low</option>
          <option value="best-selling">Best Selling</option>
        </select>
        
      </div>

      <div class="product-grid">
        <% if (products.length > 0) { %>
          <% products.forEach(function(product) { %>
            <div class="product-card">
              <img src="/public/images/<%= product.productCategory %>/<%= product.productImage %>" alt="Product Image">
              <h3><%= product.productName %></h3>
              <p>Rs <%= product.productPrice %></p>
              <div class="button">
                <button class="add-to-cart" onclick="reloadPage()" data-id="<%= product._id %>" 
                  data-name="<%= product.productName %>" 
                  data-price="<%= product.productPrice %>">ADD TO CART</button>
              </div>
            </div>
          <% }) %>
        <% } else { %>
          <h2>No products found</h2>
        <% } %>
        
          
        
        
      </div>
    </section>
  </main>

  <%- include('footer') %>
</body>
<script src="/script/script.js"></script>
<script>
  function reloadPage() {
    location.reload();
  }
</script>

</html>